<!DOCTYPE html> <html>

<html>
<head>
    <title>JSON Custom Search API Example</title>
</head>
<body>
<div id="content"></div>
<script>
      function getImage(imageId) {
  fetch(`https://api.thedogapi.com/v1/images/${imageId}`).then(response =>
  {
    const data = response.json()

    // lembre que você tem que ter um elemento
    // <img src="" id="image"/> dentro do HTML
    document.querySelector("#image").src = data.url;
  })
    </script>
<script src="https://www.googleapis.com/customsearch/v1?searchType=image&key=MINHA_KEY&cx=MINHA_ID_MACHINE&q=carros&callback=hndlr">
</script>
</body>
</html>