<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regiões</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Região</th>
    </tr>
    <tr th:each = "estado : ${estados}">
        <td th:text = "${estado.estado_id}"></td>
        <td th:text = "${estado.nome_estado}"></td>
        <td th:text = "${estado.regiao}"></td>
    </tr>
</table>

    <tr th:each = "estado : ${estados}">
        <input class="form-control"
                type="text"
                th:value="${estado.nome_estado}" id="nomeEstado" name="nomeEstado" />
    </tr>

<div>
    <label for="regiao">Informe o estado:</label>
    <select th:each = "estado : ${estados}", id=regiao>
        <option th:value="${estado.nome_estado}"></option>
    </select>
</div>

<div>
    <p>Tasks:
        <span th:each="estado : ${estados}">
        <span th:text="${estado.nome_estado}"></span>
    </span>
    </p>
</div>
</body>
</html>