<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<script src="./js/script.js" defer></script>-->
    <title>Home</title>
</head>
<body bgcolor="#87CEFA">
<H1>Menu IACIT Carcara Tec</H1>
    <form>
        <div>
            <label for="regiao">Informe a região:</label>
            <select id=regiao>
                <option></option>
                <option value="N">Norte</option>
                <option value="NE">Nordeste</option>
                <option value="CO">Centro-Oeste</option>
                <option value="SE">Sudeste</option>
                <option value="S">Sul</option>
            </select>
            <button onclick="buscarRegiao()">Buscar</button>
        </div>
        <br/>
        <!--<div>
            <label for="diaa">Informe a data de pesquisa:</label>
            <input type="date" id="diaa" name="diaa">
        </div>-->
    </form>

    <script>
            function buscarRegiao() {
                let select = document.querySelector('#regiao');
                let value = select.options[select.selectedIndex].value
                window.open('localhost:8080/' + value +'/');
            }
        </script>
</body>
</html>