<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>IACIT</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>

<h1>IACIT</h1>

<nav class="nav">
	<ul>
		<li class="drop"><a href="#">Região</a>
			<ul class="dropdown">
				<li><a href="#">Oferta 01</a></li>
			</ul>
		</li>
		<li class="drop"><a href="#">Estação</a>
			<ul class="dropdown">
				<li><a href="#">Oferta 01</a></li>
			</ul>
		</li>
		<li class="drop"><a href="#">Descritivo</a>
			<ul class="dropdown">
				<li><a href="#">Oferta 01</a></li>
			</ul>
		</li>
	</ul>
</nav>

<footer>
    <p class="main">
        2022 © FATEC </p>
</footer>

<script  src="script.js"></script>

</body>
</html>
