<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regiôes</title>
</head>
<body>
<table border="1">
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Região</th>
    </tr>
    <tr th:each = "estado : ${estados}">
        <td th:text = "${estado.estado_id}"></td>
        <td th:text = "${estado.nome_estado}"></td>
        <td th:text = "${estado.regiao}"></td>
    </tr>
</table>

<td>
    <tr th:each = "estado : ${estados}">
        <input class="form-control"
                type="text"
                th:value="${estado.nome_estado}" id="clientName" name="SP" />
    </tr>
</td>

</body>
</html>