<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body bgcolor="#87CEFA">
<H1>Menu IACIT Carcara Tec</H1>
    <form>
        <div>
            <label for="regiao">Informe a região:</label>
            <select id=regiao>
                <option></option>
                <option>Norte</option>
                <option>Nordeste</option>
                <option>Centro-Oeste</option>
                <option>Sudeste</option>
                <option>Sul</option>
            </select>
        </div>
        <br/>
        <div>
            <label for="diaa">Informe a data de pesquisa:</label>
            <input type="date" id="diaa" name="diaa">
        </div>
    </form>
</body>
</html>